.btn {
  padding: 12px 0;
  border-radius: 12px;
  background: #3470ff;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.25;
  transition: background 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover {
  background: #0b44cd;
}

.small {
  width: 156px;
}

.large {
  width: 276px;
}
